#!/usr/bin/env bash

# This script sets up environment variables for MCP servers
# Create a `.env` file at the root of this project with the following

export GITHUB_PERSONAL_ACCESS_TOKEN="your_token_here"
